/**
 * RustFest 2017 theme for reveal.js, based on the white theme for reveal.js.
 *
 * By Hakim El Hattab, http://hakim.se
 * By Fletcher Nichol, https://github.com/fnichol
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}

section.title {
  h1 {
    font-size: 2.0em;
  }

  h2 {
    font-size: 1.5em;
  }
}

html.fade-bg {
  .slide-background {
    opacity: 0.80 !important;
  }
  h1, h2, h3, h4, h5, h6, * {
    color: #fff;
    text-shadow: 2px 2px 4px #86B199;
  }
}

.dim {
  opacity: 0.25 !important;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
